@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
    font-family: 'Noto Sans JP', sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div{
    margin: 5rem 0;
}

button{
    border-radius: 6px;
    border: none;
    background: none;
    padding: 0.5rem 1rem;
    font-size: 1.4rem;
    font-weight: 500;
    font-family: 'Noto Sans JP', sans-serif;
    cursor: pointer;
    margin: 2rem;
}

