$light-grey: #E0E0E0;
$dark-grey: #AEAEAE;
$primary-color: #3D5AFE;
$primary-color-light: rgba(41, 98, 255, 0.1);
$primary-color-hover:#0039CB;
$red-color:#D32F2F;
$red-color-hover:#9A0007;
$secondary-color:#455A64;
$secondary-color-hover:#1C313A;